<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min Første HTML</title>
</head>
<body>
    <h2>Velkommen til min første HTML-side</h2>
    <p>Tegneserie figur</p>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Serie</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Vakse Viggo</td>
                <td>Splint & Co</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ratata</td>
                <td>Lucky Luke</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Fedtmule</td>
                <td>Walt & Co</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Obelix</td>
                <td>Asterix</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
