<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bogtitler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Liste med bogtitler</h1>
        </div>
        <div id="content">
            <table>
                <thead>
                    <tr>
                        <th class="tableh">Titel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for title in titles %}
                    <tr>
                        <td class="tabled">{{ title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="footer">
            <p><a href="{{ url_for('opg2') }}">Tilbage til startsiden</a></p>
        </div>
    </div>
</body>
</html>
